* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

html {
    scroll-behavior: smooth;
  }

.container {
   max-width: 1440px;
   margin: 0 auto;
}

header {
    background-color: #e6e6e6;
}

.burger {
    display: none;
}
.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list__item {
    list-style: none;
    padding: 0 3%;
}

.nav-list__item a{
    text-decoration: none;
    color: #000;
}

.nav-list__item a:hover {
    color: rgb(174, 123, 81);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.left-side {
    background-color: #e6e6e6;
}

.profile__img {
    width: 100%;
}

.heading {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #c4af9c;
}

.contacts__heading {
    text-align: center;
}
.profile__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.section-contacts__item {
    font-size: 20px;
    margin: 10px 0;
}

.section-contacts__item span {
    font-weight: bold;
    letter-spacing: 2px;
}

.section-summary__text {
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.section-skills__item {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 10%;
}

.section-education-items {
    margin-left: 10%;
}
.section-education-items > li {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}

.section-education-items-self-education__item a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.section-education-items-self-education__item {
    margin-bottom: 15px;
}
.section-education-items-self-education__item :hover {
    cursor: pointer;
    color: rgb(174, 123, 81);
}

.section-english__text span {
    font-weight: bold;
    font-size: 20px;
}

.section-english__text {
    font-size: 18px;
    padding-left: 10%;
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(174, 123, 81);
    padding: 20px auto;
}

.footer a {
    margin: auto 0;
    color: #000;
}

@media (max-width: 815px) {
   .nav-list {
    display: block;
    position: absolute;
    top: -2000px;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
   }

   .nav-list.active {
    top: 30px;
   }
   .nav-list__item {
    padding: 10px;
   }

   .burger {
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 30px;
    height: 18px;
    margin: 10px;
    transition: all 0.3s ease 1s;
  }
  .burger::before,
  .burger::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: rgb(174, 123, 81);
  }
  .burger::before {
    top: 0;
    box-shadow: 0 7px 0 rgb(174, 123, 81);
  }
  .burger::after {
    bottom: 0;
  }

  .burger.active::before{
    box-shadow: none;
    rotate: 50deg;
    left: 5px;
    top: 4px;
  }

  .burger.active::after{
    rotate: -50deg;
    letter-spacing: 5;
    bottom: 10px;
  }
  .grid {
    grid-template-columns: 1fr;
  }

  .profile__img {
    width: 50%;
    height: 50%;
    margin-left: 25%;
  }

}