* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

html {
    scroll-behavior: smooth;
  }

.container {
   max-width: 1440px;
   margin: 0 auto;
}

header {
    background-color: #e6e6e6;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list__item {
    list-style: none;
    padding: 0 40px;
    line-height: 50px;
}

.nav-list__item a{
    text-decoration: none;
    color: #000;
}

.nav-list__item a:hover {
    color: rgb(174, 123, 81);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.left-side {
    background-color: rgb(174, 123, 81);
}

.profile__img {
    width: 100%;
}

.heading {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #c4af9c;
}

.contacts__heading {
    font-size: 26px;
    padding-left: 30px;
}
.profile__text {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.section-contacts__item {
    font-size: 20px;
    margin: 10px 0;
}

.section-contacts__item span {
    font-weight: bold;
    letter-spacing: 2px;
}

.section-summary__text {
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.section-skills__item {
    font-size: 20px;
    margin: 10px 0;
    margin-left: 10%;
}